<header class="header">
    <div class="logos">
        <div class="logo">
            <img src="/src/assets/img/rg.svg" alt="">
        </div>
        <div class="logo">
            <img src="/src/assets/img/bz.svg" alt="">
        </div>
        <div class="logo">
            <img src="/src/assets/img/zc.svg" alt="">
        </div>
    </div>
</header>