{% extends "templates/layouts/base.twig" %}

{% set title = "Миллион на здоровье" %}

{% block content %}
	<!-- window.nextSlide() -->
	<!-- window.prevSlide() -->

	<!-- window.addWinner() -->
	<!-- addWinner([['asgkrnthfbhd', 'Иван +7 777 777 77'], ['sglrmjrhgysd', 'Олег, +2323 2323232 32']], '#final-prize-1', 2000, 2000); -->


	<div class="slides">
		<div class="slide active">
			<div class="slide-bg">
				<img src="/src/assets/img/slide1.jpg" alt="">
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>

		<div class="slide">
			<div class="slide-bg">
				<img src="/src/assets/img/slide2.jpg" alt="">
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>

		<div class="slide">
			<div class="slide-bg">
				<img src="/src/assets/img/slide3.jpg" alt="">
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>

		<div class="slide">
			<div class="slide-bg">
				<img src="/src/assets/img/slide4.jpg" alt="">
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>

		{# brands-slide #}
		<div class="slide">
			<div class="slide-bg">
				<img src="/src/assets/img/brands-slide.jpg" alt="">
			</div>
			<div class="brands">
				<div class="brands__title">
					Бренды, участвующие в акции
				</div>
				<div class="brands__img">
					<img src="/src/assets/img/brands.jpg" alt="">
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>

		<div class="slide">
			<div class="slide-bg">
				<img src="/src/assets/img/slide6.jpg" alt="">
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>

		{# gifts #}
		<div class="slide">
			<div class="slide-bg">
				<img src="/src/assets/img/gifts-slide.jpg" alt="">
			</div>
			<div class="gifts">
				<div class="gift gift-1">
					<div class="gift__img">
						<img src="/src/assets/img/phone.png" alt="">
					</div>
					<div class="gift__name">
						Смартфон Samsung<br> Galaxy 
					</div>
				</div>
				<div class="gift gift-6">
					<div class="gift__img">
						<img src="/src/assets/img/bd.png" alt="">
					</div>
					<div class="gift__name">
						Подарок<br> ТМ «Будь Здоров!» 
					</div>
				</div>
				<div class="gift gift-4">
					<div class="gift__img">
						<img src="/src/assets/img/vk.png" alt="">
					</div>
					<div class="gift__name">
						Умная колонка VK<br> Капсула Мини серый 
					</div>
				</div>
				<div class="gift gift-3">
					<div class="gift__img">
						<img src="/src/assets/img/promocods.png" alt="">
					</div>
					<div class="gift__name">
						Промокоды на покупку<br> в аптечных сетях «Ригла»,<br> «Будь Здоров!», «Здравсити»  
					</div>
				</div>
				<div class="gift gift-2">
					<div class="gift__img">
						<img src="/src/assets/img/sert.png" alt="">
					</div>
					<div class="gift__name">
						Мультикарты номиналом<br> 3 000 рублей, 5 000 рублей и 10 000 рублей 
					</div>
				</div>
				<div class="gift gift-5">
					<div class="gift__img">
						<img src="/src/assets/img/yandex.png" alt="">
					</div>
					<div class="gift__name">
						Умная колонка<br> Яндекс.Станция Лайт<br> бежевый 
					</div>
				</div>
				
				<div class="gift gift-7">
					<div class="gift__img">
						<img src="/src/assets/img/jbl.png" alt="">
					</div>
					<div class="gift__name">
						Наушники<br> TWS JBL WAVE BEAM<br> черный 
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__text">
						Призы могут отличаться по внешнему виду<br> от их изображений на рекламно-информационных материалах. 
					</div>
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>

		{# gift1 #}
		<div class="slide ">
			<div class="slide-bg">
				<img src="/src/assets/img/gift-slide.jpg" alt="">
			</div>
			<div class="prize prize-1">
				<div class="prize__img">
					<img src="/src/assets/img/promocods.png" alt="">
				</div>
				<div class="prize__title">
					Промокоды на покупку<br> в аптечных сетях «Ригла»,<br> «Будь Здоров!», «Здравсити»
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__text">
						Призы могут отличаться по внешнему виду<br> от их изображений на рекламно-информационных материалах. 
					</div>
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>

		{# gift2 #}
		<div class="slide ">
			<div class="slide-bg">
				<img src="/src/assets/img/gift-slide.jpg" alt="">
			</div>
			<div class="prize prize-2">
				<div class="prize__img">
					<img src="/src/assets/img/bd.png" alt="">
				</div>
				<div class="prize__title">
					Подарок<br> ТМ «Будь Здоров!»
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__text">
						Призы могут отличаться по внешнему виду<br> от их изображений на рекламно-информационных материалах. 
					</div>
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>

		{# gift3 #}
		<div class="slide">
			<div class="slide-bg">
				<img src="/src/assets/img/gift-slide.jpg" alt="">
			</div>
			<div class="prize prize-3">
				<div class="prize__img">
					<img src="/src/assets/img/sert.png" alt="">
				</div>
				<div class="prize__title">
					Мультикарты<br> номиналом 3 000 рублей,<br> 5 000 рублей и 10 000 рублей
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__text">
						Призы могут отличаться по внешнему виду<br> от их изображений на рекламно-информационных материалах. 
					</div>
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>

		{# gift4 #}
		<div class="slide">
			<div class="slide-bg">
				<img src="/src/assets/img/gift-slide.jpg" alt="">
			</div>
			<div class="prize prize-4">
				<div class="prize__img">
					<img src="/src/assets/img/yandex.png" alt="">
				</div>
				<div class="prize__title">
					Умная колонка<br> Яндекс.Станция Лайт<br> бежевый
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__text">
						Призы могут отличаться по внешнему виду<br> от их изображений на рекламно-информационных материалах. 
					</div>
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>

		{# gift5 #}
		<div class="slide">
			<div class="slide-bg">
				<img src="/src/assets/img/gift-slide.jpg" alt="">
			</div>
			<div class="prize prize-5">
				<div class="prize__img">
					<img src="/src/assets/img/vk.png" alt="">
				</div>
				<div class="prize__title">
					Умная колонка VK<br> Капсула Мини<br> серый
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__text">
						Призы могут отличаться по внешнему виду<br> от их изображений на рекламно-информационных материалах. 
					</div>
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>

		{# gift6 #}
		<div class="slide ">
			<div class="slide-bg">
				<img src="/src/assets/img/gift-slide.jpg" alt="">
			</div>
			<div class="prize prize-6">
				<div class="prize__img">
					<img src="/src/assets/img/jbl.png" alt="">
				</div>
				<div class="prize__title">
					Наушники TWS<br> JBL WAVE BEAM<br> черный
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__text">
						Призы могут отличаться по внешнему виду<br> от их изображений на рекламно-информационных материалах. 
					</div>
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>

		{# gift7 #}
		<div class="slide">
			<div class="slide-bg">
				<img src="/src/assets/img/gift-slide.jpg" alt="">
			</div>
			<div class="prize prize-7">
				<div class="prize__img">
					<img src="/src/assets/img/phone.png" alt="">
				</div>
				<div class="prize__title">
					Смартфон<br> Samsung Galaxy 
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__text">
						Призы могут отличаться по внешнему виду<br> от их изображений на рекламно-информационных материалах. 
					</div>
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>

		<div class="slide">
			<div class="slide-bg">
				<img src="/src/assets/img/final.jpg" alt="">
			</div>
			<div class="final" id="final-prize-1">
				<div class="final-prize">
					<div class="final-prize__img">
						<img src="/src/assets/img/promocods.png" alt="">
					</div>
					<div class="final-prize__name">
						Промокоды на покупку в аптечных сетях «Ригла», «Будь Здоров!», «Здравсити»
					</div>
				</div>
				<div class="final__code">
					<div class="final__code-item">M</div>
					<div class="final__code-item">M</div>
					<div class="final__code-item">M</div>
					<div class="final__code-item">M</div>
					<div class="final__code-item">M</div>
					<div class="final__code-item">M</div>
					<div class="final__code-item">M</div>
					<div class="final__code-item">M</div>
					<div class="final__code-item">M</div>
					<div class="final__code-item">M</div>
					<div class="final__code-item">M</div>
					<div class="final__code-item">M</div>
				</div>
				<div class="final-last-winner">
					Иван, +7 ХХХ ХХХ 64 64
				</div>
				<div class="winners">
					<div class="winners__title">
						Победители
					</div>
					<div class="winners__list">
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__text">
						Призы могут отличаться по внешнему виду<br> от их изображений на рекламно-информационных материалах. 
					</div>
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>

		<div class="slide">
			<div class="slide-bg">
				<img src="/src/assets/img/final.jpg" alt="">
			</div>
			<div class="final" id="final-prize-2">
				<div class="final-prize">
					<div class="final-prize__img">
						<img src="/src/assets/img/bd.png" alt="">
					</div>
					<div class="final-prize__name">
						Подарок ТМ «Будь Здоров!»
					</div>
				</div>
				<div class="final__code">
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
				</div>
				<div class="final-last-winner">
				
				</div>
				<div class="winners">
					<div class="winners__title">
						Победители
					</div>
					<div class="winners__list">

					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__text">
						Призы могут отличаться по внешнему виду<br> от их изображений на рекламно-информационных материалах. 
					</div>
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>

		<div class="slide">
			<div class="slide-bg">
				<img src="/src/assets/img/final.jpg" alt="">
			</div>
			<div class="final" id="final-prize-3">
				<div class="final-prize">
					<div class="final-prize__img">
						<img src="/src/assets/img/sert.png" alt="">
					</div>
					<div class="final-prize__name">
						Мультикарта номиналом 3 000 рублей 
					</div>
				</div>
				<div class="final__code">
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
				</div>
				<div class="final-last-winner">
				
				</div>
				<div class="winners">
					<div class="winners__title">
						Победители
					</div>
					<div class="winners__list">

					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__text">
						Призы могут отличаться по внешнему виду<br> от их изображений на рекламно-информационных материалах. 
					</div>
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>

		<div class="slide">
			<div class="slide-bg">
				<img src="/src/assets/img/final.jpg" alt="">
			</div>
			<div class="final" id="final-prize-3">
				<div class="final-prize">
					<div class="final-prize__img">
						<img src="/src/assets/img/sert.png" alt="">
					</div>
					<div class="final-prize__name">
						Мультикарта номиналом 5 000 рублей 
					</div>
				</div>
				<div class="final__code">
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
				</div>
				<div class="final-last-winner">
				
				</div>
				<div class="winners">
					<div class="winners__title">
						Победители
					</div>
					<div class="winners__list">

					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__text">
						Призы могут отличаться по внешнему виду<br> от их изображений на рекламно-информационных материалах. 
					</div>
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>

		<div class="slide">
			<div class="slide-bg">
				<img src="/src/assets/img/final.jpg" alt="">
			</div>
			<div class="final" id="final-prize-3">
				<div class="final-prize">
					<div class="final-prize__img">
						<img src="/src/assets/img/sert.png" alt="">
					</div>
					<div class="final-prize__name">
						Мультикарта номиналом 10 000 рублей 
					</div>
				</div>
				<div class="final__code">
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
				</div>
				<div class="final-last-winner">
				
				</div>
				<div class="winners">
					<div class="winners__title">
						Победители
					</div>
					<div class="winners__list">

					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__text">
						Призы могут отличаться по внешнему виду<br> от их изображений на рекламно-информационных материалах. 
					</div>
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>

		<div class="slide">
			<div class="slide-bg">
				<img src="/src/assets/img/final.jpg" alt="">
			</div>
			<div class="final" id="final-prize-4">
				<div class="final-prize">
					<div class="final-prize__img">
						<img src="/src/assets/img/yandex.png" alt="">
					</div>
					<div class="final-prize__name">
						Умная колонка Яндекс.Станция Лайт бежевый
					</div>
				</div>
				<div class="final__code">
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
				</div>
				<div class="final-last-winner">
				
				</div>
				<div class="winners">
					<div class="winners__title">
						Победители
					</div>
					<div class="winners__list">

					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__text">
						Призы могут отличаться по внешнему виду<br> от их изображений на рекламно-информационных материалах. 
					</div>
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>

		<div class="slide">
			<div class="slide-bg">
				<img src="/src/assets/img/final.jpg" alt="">
			</div>
			<div class="final" id="final-prize-5">
				<div class="final-prize">
					<div class="final-prize__img">
						<img src="/src/assets/img/vk.png" alt="">
					</div>
					<div class="final-prize__name">
						Умная колонка VK Капсула Мини серый
					</div>
				</div>
				<div class="final__code">
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
				</div>
				<div class="final-last-winner">
				
				</div>
				<div class="winners">
					<div class="winners__title">
						Победители
					</div>
					<div class="winners__list">

					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__text">
						Призы могут отличаться по внешнему виду<br> от их изображений на рекламно-информационных материалах. 
					</div>
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>

		<div class="slide">
			<div class="slide-bg">
				<img src="/src/assets/img/final.jpg" alt="">
			</div>
			<div class="final" id="final-prize-6">
				<div class="final-prize">
					<div class="final-prize__img">
						<img src="/src/assets/img/jbl.png" alt="">
					</div>
					<div class="final-prize__name">
						Наушники TWS JBL WAVE BEAM черный
					</div>
				</div>
				<div class="final__code">
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
				</div>
				<div class="final-last-winner">
				
				</div>
				<div class="winners">
					<div class="winners__title">
						Победители
					</div>
					<div class="winners__list">

					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__text">
						Призы могут отличаться по внешнему виду<br> от их изображений на рекламно-информационных материалах. 
					</div>
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>

		<div class="slide">
			<div class="slide-bg">
				<img src="/src/assets/img/final.jpg" alt="">
			</div>
			<div class="final" id="final-prize-7">
				<div class="final-prize">
					<div class="final-prize__img">
						<img src="/src/assets/img/phone.png" alt="">
					</div>
					<div class="final-prize__name">
						Смартфон Samsung Galaxy 
					</div>
				</div>
				<div class="final__code">
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
					<div class="final__code-item"></div>
				</div>
				<div class="final-last-winner">
				
				</div>
				<div class="winners">
					<div class="winners__title">
						Победители
					</div>
					<div class="winners__list">

					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__text">
						Призы могут отличаться по внешнему виду<br> от их изображений на рекламно-информационных материалах. 
					</div>
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>

		{#Results#}
		<div class="slide slide-result">
			<div class="slide-bg">
				<img src="/src/assets/img/final.jpg" alt="">
			</div>
			<div class="final final-results">
				<div class="final-prize">
					<div class="final-prize__img">
						<img src="/src/assets/img/promocods.png" alt="">
					</div>
					<div class="final-prize__name">
						Промокоды на покупку в аптечных сетях «Ригла», «Будь Здоров!», «Здравсити»
					</div>
				</div>
				<div class="winners">
					<div class="winners__title">
						Победители
					</div>
					<div class="winners__list">
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__text">
						Призы могут отличаться по внешнему виду<br> от их изображений на рекламно-информационных материалах. 
					</div>
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>
		<div class="slide slide-result">
			<div class="slide-bg">
				<img src="/src/assets/img/final.jpg" alt="">
			</div>
			<div class="final final-results">
				<div class="final-prize">
					<div class="final-prize__img">
						<img src="/src/assets/img/bd.png" alt="">
					</div>
					<div class="final-prize__name">
						Подарок ТМ «Будь Здоров!»
					</div>
				</div>
				<div class="winners">
					<div class="winners__title">
						Победители
					</div>
					<div class="winners__list">
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__text">
						Призы могут отличаться по внешнему виду<br> от их изображений на рекламно-информационных материалах. 
					</div>
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>
		<div class="slide slide-result">
			<div class="slide-bg">
				<img src="/src/assets/img/final.jpg" alt="">
			</div>
			<div class="final final-results">
				<div class="final-prize">
					<div class="final-prize__img">
						<img src="/src/assets/img/sert.png" alt="">
					</div>
					<div class="final-prize__name">
						Мультикарта номиналом 3 000 рублей 
					</div>
				</div>
				<div class="winners">
					<div class="winners__title">
						Победители
					</div>
					<div class="winners__list">
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__text">
						Призы могут отличаться по внешнему виду<br> от их изображений на рекламно-информационных материалах. 
					</div>
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>
		<div class="slide slide-result">
			<div class="slide-bg">
				<img src="/src/assets/img/final.jpg" alt="">
			</div>
			<div class="final final-results">
				<div class="final-prize">
					<div class="final-prize__img">
						<img src="/src/assets/img/sert.png" alt="">
					</div>
					<div class="final-prize__name">
						Мультикарта номиналом 5 000 рублей
					</div>
				</div>
				<div class="winners">
					<div class="winners__title">
						Победители
					</div>
					<div class="winners__list">
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__text">
						Призы могут отличаться по внешнему виду<br> от их изображений на рекламно-информационных материалах. 
					</div>
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>
		<div class="slide slide-result">
			<div class="slide-bg">
				<img src="/src/assets/img/final.jpg" alt="">
			</div>
			<div class="final final-results">
				<div class="final-prize">
					<div class="final-prize__img">
						<img src="/src/assets/img/sert.png" alt="">
					</div>
					<div class="final-prize__name">
						Мультикарта номиналом 10 000 рублей 
					</div>
				</div>
				<div class="winners">
					<div class="winners__title">
						Победители
					</div>
					<div class="winners__list">
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__text">
						Призы могут отличаться по внешнему виду<br> от их изображений на рекламно-информационных материалах. 
					</div>
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>
		<div class="slide slide-result">
			<div class="slide-bg">
				<img src="/src/assets/img/final.jpg" alt="">
			</div>
			<div class="final final-results2">
				<div class="final-prize">
					<div class="final-prize__img">
						<img src="/src/assets/img/yandex.png" alt="">
					</div>
					<div class="final-prize__name">
						Умная колонка<br> Яндекс.Станция Лайт<br> бежевый 
					</div>
				</div>
				<div class="winners">
					<div class="winners__list">
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
					</div>
				</div>
				<div class="final-prize">
					<div class="final-prize__img">
						<img src="/src/assets/img/vk.png" alt="">
					</div>
					<div class="final-prize__name">
						Умная колонка VK<br> Капсула Мини серый 
					</div>
				</div>
				<div class="winners">
					<div class="winners__list">
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
					</div>
				</div>
				<div class="final-prize">
					<div class="final-prize__img">
						<img src="/src/assets/img/jbl.png" alt="">
					</div>
					<div class="final-prize__name">
						Наушники<br> TWS JBL WAVE BEAM<br> черный 
					</div>
				</div>
				<div class="winners">
					<div class="winners__list">
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__text">
						Призы могут отличаться по внешнему виду<br> от их изображений на рекламно-информационных материалах. 
					</div>
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>
		<div class="slide slide-result">
			<div class="slide-bg">
				<img src="/src/assets/img/final.jpg" alt="">
			</div>
			<div class="final final-results2">
				<div class="final-prize">
					<div class="final-prize__img">
						<img src="/src/assets/img/phone.png" alt="">
					</div>
					<div class="final-prize__name">
						Смартфон<br> Samsung Galaxy 
					</div>
				</div>
				<div class="winners">
					<div class="winners__list">
						<div class="winner">
							Иван, +7 ХХХ ХХХ 64 64
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="footer__text">
						Призы могут отличаться по внешнему виду<br> от их изображений на рекламно-информационных материалах. 
					</div>
					<div class="footer__18">
						<img src="/src/assets/img/footer-18.svg" alt="">
					</div>
				</div>
			</footer>
		</div>

		<div class="video"></div>
	</div>
{% endblock %}